In [ ]:
#task10
def isover_18(dob ,doj):
  dob_year = int((dob.split("-"))[2])
  doj_year = int((doj.split("-"))[2])
  age =doj_year - dob_year
  if age >= 18:
    return True
  else:
    return False

In [ ]:
dob ="12-25-1991"
doj ="04-25-2020"


if (isover_18(dob, doj)):
    print("the employee is over 18 years of age")
else:
    print("the employee is not over 18 years of age")

the employee is over 18 years of age

In [ ]:
#task9:
c=[12,14,14]
d=[17,16,17]
result=list(map(lambda x,y : x+y , c,d))
print(result)

[29, 30, 31]

In [ ]:
#task 8:
a=["Andy", "Mandy","Sandy"]
b=["Handy","Burgundy", "Mandy"]
result=list(filter(lambda x: x in a,b))
print(result)

['Mandy']

In [ ]:
#task7:
def sort_color_number(color_list):
    sorted_color = sorted(color_list, key=lambda x: x[1])
    return sorted_color

color = [('black', 4), ('green', 1), ('red', 5), ('blue', 2), ('yellow', 3)]
sorted_color = sort_color_number(color)
print(sorted_color)

[('green', 1), ('blue', 2), ('yellow', 3), ('black', 4), ('red', 5)]

In [ ]:
#task6:
def f1():
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    gender = input("Enter gender: ")
    occupation = input("Enter occupation: ")

    f2(name, age, gender, occupation)

def f2(name, age, gender, occupation):

    print("\nProfile Card")
    print("Name:", name)
    print("Age:", age)
    print("Gender:", gender)
    print("Occupation:", occupation)

if __name__ == "__main__":
    f1()

Enter name: Sandhya
Enter age: 23
Enter gender: Female
Enter occupation: HR

Profile Card
Name: Sandhya
Age: 23
Gender: Female
Occupation: HR

In [1]:
#task5:
def populate_dictionary():
  my_dict = {}
  while True:
    item_name = input("Enter item name : ")
    if item_name == 'done':
      break
    item_value = float(input("Enter item value: "))
    my_dict[item_name] = item_value

  max_value = max(my_dict.values())
  min_value = min(my_dict.values())

  print("Max value:", max_value)
  print("Min value:", min_value)
populate_dictionary()

Enter item name : item1
Enter item value: 45.50
Enter item name : item2
Enter item value: 35
Enter item name : item3
Enter item value: 41.30
Enter item name : item4
Enter item value: 29
Enter item name : item5
Enter item value: 49.89
Enter item name : done
Max value: 49.89
Min value: 29.0

In [13]:
#task4:
def find_min_max(numbers):
  min_value = min(numbers)
  max_value = max(numbers)
  return min_value, max_value
def get_user_input():
  numbers = []
  for i in range(10):
    number = int(input(f"Enter number {i+1}: "))
    numbers.append(number)
  return numbers

numbers = get_user_input()
min_value, max_value = find_min_max(numbers)

print("Min =", min_value)
print("Max =", max_value)

Enter number 1: 6
Enter number 2: -7
Enter number 3: 3
Enter number 4: 49
Enter number 5: -50
Enter number 6: 23
Enter number 7: 67
Enter number 8: 76
Enter number 9: -46
Enter number 10: -99
Min = -99
Max = 76

In [8]:
#task3:
def convert_to_string(char_list):

  string = ''.join(char_list)
  return string

char_list = ['V', 'i', 'h', 'a', 'r']
result_string = convert_to_string(char_list)
print(result_string)

Vihar

In [10]:
#task2:
def accept_multiple_and_sort_words():
   words = input("Enter words separated by commas: ").split(",")
   words.sort()
   print(words)

accept_multiple_and_sort_words()

Enter words separated by commas: 'sandhya' , 'vihar', 'chiru', 'sai', 'jayasri'
[" 'chiru'", " 'jayasri'", " 'sai'", " 'vihar'", "'sandhya' "]

In [11]:
#task1:
def is_palindrome(word):
  return word == word[::-1]

word = input("Enter a word: ")
if is_palindrome(word):
  print(word, "is a palindrome")
else:
  print(word, "is not a palindrome")

Enter a word: mom
mom is a palindrome