### Practice

In [ ]:
# Task 1: Variable assignment and information
rollno = 23
print("Roll number:", rollno)
print("Type of rollno:", type(rollno))
print("ID of rollno:", id(rollno))

Roll number: 23
Type of rollno: <class 'int'>
ID of rollno: 135722867491760

In [ ]:
#task(b)
firstname = "Sandhya"
print("\nFirst name:", firstname)
print("Type of firstname:", type(firstname))
print("ID of firstname:", id(firstname))

First name: Sandhya
Type of firstname: <class 'str'>
ID of firstname: 135721825424944

In [ ]:
#task(c)
lastname = "Rani"
print("\nLast name:", lastname)
print("Type of lastname:", type(lastname))
print("ID of lastname:", id(lastname))

Last name: Rani
Type of lastname: <class 'str'>
ID of lastname: 135721825425456

In [ ]:
#task(d)
max_marks = 50
print("\nMaximum marks:", max_marks)
print("Type of max_marks:", type(max_marks))
print("ID of max_marks:", id(max_marks))

Maximum marks: 50
Type of max_marks: <class 'int'>
ID of max_marks: 135722867492624

In [24]:
# Task 2: Valid and invalid variable names
var1 = 2
print("\nvar1 =", var1)
#This expression is valid and assigns the value 2 to a variable named var1. In most programming languages, this would successfully create a variable and store the value 2 in it.

var1 = 2

In [25]:
print("2var = 2  # This will cause an error")
#here variable start with  number 2 ,so it gives error.variables can not start with numbers

2var = 2  # This will cause an error

In [26]:
print("var 1 = 2  # This will cause an error")
#This expression might also be invalid depending on the programming language. Variable names usually cannot have spaces. You might encounter an error or unexpected behavior.

var 1 = 2  # This will cause an error

In [27]:
print("var$2 = 2  # This will cause an error")
#variable names starts with letters,numbers,underscores,not with special characters like $.so it gives error here

var$2 = 2  # This will cause an error

In [ ]:
# Task 3: Keywords as variable names
# Task 3: Assigning values to variables

# a) Class = 15  # This is generally discouraged due to using a capitalized name like a keyword
Class = 15
print(Class)

# b) class = 14  # This will cause a SyntaxError as 'class' is a keyword
# class = 14

# c) DEF = 13  # Discouraged due to using a capitalized name like a keyword
DEF = 13
print(DEF)

# d) def = 12  # This will cause a SyntaxError as 'def' is a keyword
# def = 12

# e) a = TRUE  # Corrected to 'True' as Python is case-sensitive
a = True
print(a)

# f) b = false  # Corrected to 'False' as Python is case-sensitive
b = False
print(b)

15
13
True
False

In [ ]:
# Task 4: Floating-point numbers and variable reassignment
marks = 92.76
print("\nMarks:", marks)
print("Type of marks:", type(marks))
print("ID of marks:", id(marks))

Marks: 92.76
Type of marks: <class 'float'>
ID of marks: 135722648878544

In [ ]:
marks = 87.97
print("\nUpdated marks:", marks)
print("Type of marks:", type(marks))
print("ID of marks:", id(marks))

Updated marks: 87.97
Type of marks: <class 'float'>
ID of marks: 135722647207984

In [ ]:
# Task 5: Calculating percentage
maxmarks=100
percentage = (marks / maxmarks) * 100
print("\nPercentage:", percentage)

Percentage: 87.97

In [ ]:
fullname = firstname + " " + lastname
print("\nFull name:", fullname)

result_string = fullname + " scored " + str(percentage) + "%"
print(result_string)

Full name: Sandhya Rani
Sandhya Rani scored 87.97%

In [23]:
# Task 6: Arithmetic Operations

# Arithmetic operations
a = 1 + "2"
#it gives error ..,here 1 indicates integer and"2" indicates string..,so we not add or concanate for this

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
#(b)
b="1"+"2"
print(b)
#here "1","2" indicates strings.same data structures.so here concatnate

12

In [29]:
print(1/2)
#here one / sign one time repeat.so it gives float value

0.5

In [ ]:
print(1//2)
#here / sign two times repeated .so it gives only integer

0

In [ ]:
#task7: Logical operations
print("\nLogical operations:")
print("True and True =", True and True)  # Both conditions are True, so the result is True
print("True and False =", True and False)  # One condition is False, so the result is False
print("False or True =", False or True)  # One condition is True, so the result is True
print("False or False =", False or False)  # Both conditions are False, so the result is False

Logical operations:
True and True = True
True and False = False
False or True = True
False or False = False

In [ ]:
#task8:a,b Membership and identity operators
print("\nMembership and identity:")
print("'sandhya' in 'sandhya rani' =", 'sandhya' in 'sandhya rani')  # Checks if 'sandhya' is a substring in 'sandhya rani '
print("firstname is fullname =", firstname is fullname)  # Checks if 'firstname' and 'fullname' refer to the same object in memory

Membership and identity:
'sandhya' in 'sandhya rani' = True
firstname is fullname = False

In [ ]:
#task9:a,b,c
# Task 10: Operator precedence
a, b, c = 4, 3, 2

# Exponentiation has higher precedence than addition
d = a**b + c  # Equivalent to (a**b) + c
print("\nOperator precedence:")
print("a =", a, ", b =", b, ", c =", c)
print("a**b + c =", d, "  # Exponentiation is performed first, then addition")

# Parentheses can be used to override default precedence
e = a**(b + c)  # Equivalent to a^(b+c)
print("a**(b + c) =", e, "  # Parentheses force addition to be performed first, then exponentiation")
print("The output is different due to operator precedence in Python.")

Operator precedence:
a = 4 , b = 3 , c = 2
a**b + c = 66   # Exponentiation is performed first, then addition
a**(b + c) = 1024   # Parentheses force addition to be performed first, then exponentiation
The output is different due to operator precedence in Python.