In [1]:
#task1:
factorial = int(input("n:", ))
i=1
while factorial > 0:
   i= i*factorial
   factorial = factorial-1
print(i)

n:6
720

In [3]:
#task2:
num = 50
divisor = 2
is_prime = True

while divisor < num:
    if num % divisor == 0:
        is_prime = False
        break
    divisor += 1

if is_prime:
    print("50 is a prime number")
else:
    print("50 is not a prime number")

# Check if 51 is prime
num = 51
divisor = 2
is_prime = True

while divisor < num:
    if num % divisor == 0:
        is_prime = False
        break
    divisor += 1

if is_prime:
    print("51 is a prime number")
else:
    print("51 is not a prime number")

50 is not a prime number
51 is not a prime number

In [5]:
#task3:
number = int(input("Enter a five-digit number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10
print("Sum of digits:", sum_of_digits)

Enter a five-digit number: 34567
Sum of digits: 25

In [ ]:
#task4:
n=int(input("fibonacci series up to: "))
if n <= 0:
    print(" enter a positive integer")
elif n == 1:
    print("Fibonacci series up to", n, ":")
    print(0)
else:
    print("Fibonacci series up to", n, ":")
    first_term = 0
    second_term = 1
    count = 0
    while count < n:
      print(first_term, end=" ")
      next_term = first_term + second_term
      first_term = second_term
      second_term = next_term
      count += 1

fibonacci series up to: 7
Fibonacci series up to 7 :
0 1 1 2 3 5 8

In [ ]:
#task5:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print("ID of t1 before concatenation:", id(t1))
print("ID of t2 before concatenation:", id(t2))
t1 = t1 + t2

print("ID of t1 after concatenation:", id(t1))
print("ID of t2 after concatenation:", id(t2))

"""Interpretation:The ID of t1 changes after concatenation.
The ID of t2 remains the same."""

ID of t1 before concatenation: 133917410084800
ID of t2 before concatenation: 133917411167232
ID of t1 after concatenation: 133918239498080
ID of t2 after concatenation: 133917411167232

In [ ]:
#task6:
m = {10, 20, 30, 40, 50}
n = [33, 40, 55, 60, 70]

for i in n:
    m.add(i)

print(m)
#The elements that were common in both the set m and the list n  are not duplicated in the final set m. This is because sets automatically eliminate duplicates.
# So, adding an element that already exists in the set has no effect.

{70, 10, 20, 30, 33, 40, 50, 55, 60}

In [ ]:
#task7:
Data_Set = {'Python': 1, 'Data': 2, 'Excel': 3, 'SQL': 4}
for key, value in Data_Set.items():
    if value % 2 == 0:
        print(f"{key}: {value}")

Data : 2
SQL : 4

In [2]:
#task8:
D = {}
for num in range(1, 16):
    D[num] = num * num
D.update({100: 10000})
print(D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}