In [ ]:
#task1:
mynames = ["Joe" , "Zoe" , "World","Brand", "Angelina", "World", "Zuki","Tom", "Paris","World","magic"]
for i in mynames:
  if i=="USA":
    print("TRUE")
else:
    print("FALSE")

FALSE

In [ ]:
#task(2):
mynames = ["Joe" , "Zoe" , "World","Brand", "Angelina", "World", "Zuki","Tom", "Paris","World","magic"]
count =0
for name in mynames:
  if name =="World":
    count += 1
print("the word 'world' appears", count ,"times in the list." )

the word 'world' appears 3 times in the list.

In [ ]:
#Task3:
numlist = list(range(1, 30))

even_count = 0
odd_count = 0

for number in numlist:
    if number % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Total even numbers:", even_count)
print("Total odd numbers:", odd_count)

Total even numbers: 14
Total odd numbers: 15

In [1]:
#task4:
numlist = list(range(1, 30))
even_numbers = []
for num in numlist:
    if num % 2 == 0:
        even_numbers.append(num)

    if len(even_numbers) == 5:
        break

print(even_numbers)

[2, 4, 6, 8, 10]

In [2]:
#task5:
numlist = list(range(1, 30))
last_odd = None
second_last_odd = None

for num in reversed(numlist):
    if num % 2 != 0:
        if last_odd is None:
            last_odd = num
        else:
            second_last_odd = num
            break


if last_odd is not None:
    print(last_odd)
if second_last_odd is not None:
    print(second_last_odd)

29
27

In [ ]:
#task6:
x = []
y = []
print("Enter 5 strings:")
for i in range(5):
    string = input()
    x.append(string)

print("Enter 3 numbers:")
for i in range(3):
    number = int(input())
    y.append(number)

x.extend(y)
print(x)

Enter 5 strings:
sandhya
sai
gagan
vihar
chiru
Enter 3 numbers:
1
2
3
['sandhya', 'sai', 'gagan', 'vihar', 'chiru', 1, 2, 3]

In [ ]:
#task7:
list_a = []
for num in range(1, 11):
    square = num * num
    list_a.append(square)

list_b = []
for num in range(30, 41):
    square = num * num
    list_b.append(square)

print("List_a:", list_a)
print("List_b:", list_b)

List a: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
List b: [900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

In [ ]:
#task8:
number = int(input("Enter a positive integer: "))

for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a positive integer: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60