In [ ]:
#task 1
class Student:
    def __init__(self, enrollment_ID, student_name, course_name, age, marks, grade=None):
        self.enrollment_ID = enrollment_ID
        self.student_name = student_name
        self.course_name = course_name
        self.age = age
        self.marks = marks
        self.grade = grade

In [ ]:
#task2:
class Student:
    def __init__(self, enrollment_ID, student_name, course_name, age, marks, grade=None):
        self.enrollment_ID = enrollment_ID
        self.student_name = student_name
        self.course_name = course_name
        self.age = self.age_validation (age)  #validate age
        self.marks = marks
        self.grade = grade
    def age_validation(self,age):
        if not isinstance(age, int) or age < 3 or age > 60:
            return ValueError("Invalid age. Age must be a positive integer between 3 and 60.")
        else:
          return age
Student = Student(1,"sandhya","Data_science",23,89)
print(Student.enrollment_ID,Student.student_name,Student.course_name,Student.age,Student.marks,Student.grade)

1 sandhya Data_science 23 89 None

In [ ]:
#task3
class Student:
    def __init__(self, enrollment_ID, student_name, course_name, age, marks, grade=None):
        self.enrollment_ID = enrollment_ID
        self.student_name = student_name
        self.course_name = course_name
        self.age = age
        self.marks = self.marks_validation (marks)  #validate_marks
        self.grade = grade
    def marks_validation(self,marks):
        if 0<= marks <=44:
          percentage = (marks/44)*100
          return percentage
        else:
          return "invalid marks"
Student = Student(1,"sandhya","Data_science",23,35)
print(Student.enrollment_ID,Student.student_name,Student.course_name,Student.age,Student.marks,Student.grade)

1 sandhya Data_science 23 79.54545454545455 None

In [3]:
#task4
class Student:
    def __init__(self, enrollment_ID, student_name, course_name, age, marks, grade=None):
        self.enrollment_ID = enrollment_ID
        self.student_name = student_name
        self.course_name = course_name
        self.age = age
        self.marks = marks
        self.grade =self. grade_calculation (grade) #grade_calculation

    def grade_calculation(self,grade):
      if  grade < 0:
        return "invalid"
      elif grade > 100:
        return "impossible"
      elif 80.01 <= grade <=100:
        return "Grade_A"
      elif 60.01<= grade <= 80:
        return "Grade_B"
      elif 40.01 <= grade <= 60:
        return "Grade_C"
      elif 20.01 <= grade <= 40:
        return "Grade_D"
      elif 0 <= grade <=20:
        return "Grade_F"

Student = Student(1,"sandhya","Data_science",23,35, 79.5454545555)
print(Student.enrollment_ID,Student.student_name,Student.course_name,Student.age,Student.marks,Student.grade)

1 sandhya Data_science 23 35 Grade_B

In [ ]:
#task5
class Student:
     def __init__(self,enrollment_ID,student_name, course_name, age, marks, grade=None):
         self.enrollment_ID = enrollment_ID
         self.student_name = student_name
         self.course_name = course_name
         self.age = age
         self.marks = marks
         self.grade = grade

     def display(self):
        print("enrollment_ID: ", self.enrollment_ID )
        print("student_name: ", self.student_name )
        print("course_name: ",self.course_name)
        print("age: ",self.age)
        print("marks: ",self.marks)
        print("grade: ",self.grade)

Student = Student(1,"sandhya","Data_science",23,35,"B")
print(Student.enrollment_ID,Student.student_name,Student.course_name,Student.age,Student.marks,Student.grade)

1 sandhya Data_science 23 35 B

In [2]:
#task6
class Guardian:
    def __init__(self):
        self.enrollment_id = int(input("Enter enrollment ID: "))
        self.guardians = []
        self.total_guardians = 0

    def add_guardian(self):
        while True:
            guardian_name = input("Enter guardian's name: ")
            if guardian_name.lower() == 'done':
                break
            self.guardians.append(guardian_name)
            self.total_guardians += 1

        print("Guardian details:")
        for guardian in self.guardians:
            print(guardian)


guardian1 = Guardian()
guardian1.add_guardian()

Enter enrollment ID: 123
Enter guardian's name: Sandhya
Enter guardian's name: Chiru
Enter guardian's name: Gagan
Enter guardian's name: done
Guardian details:
Sandhya
Chiru
Gagan

In [12]:
class Guardian:
    def __init__(self, enrollment_id):
        self.enrollment_id = enrollment_id
        self.guardians = []
        self.total_guardians = 0
        self.guardian_mobiles = {}

    def add_guardian(self):
        while True:
            guardian_name = input("Enter guardian's name: ")
            if guardian_name.lower() == 'done':
                break
            self.guardians.append(guardian_name)
            self.total_guardians += 1

            mobile_number = self.mobile()
            if mobile_number:
                self.guardian_mobiles[guardian_name] = mobile_number

        print("Guardian details:")
        for index, guardian in enumerate(self.guardians):
            print(f"{index + 1}. {guardian}: {self.guardian_mobiles[guardian]}")

    @staticmethod
    def mobile():
        while True:
            mobile_number = input("Enter mobile number (7 digits): ")
            if len(mobile_number) == 7 :
                return mobile_number
            else:
                print("Invalid mobile number format. Please enter 7 digits.")

guardian1 = Guardian(12345)
guardian1.add_guardian()

Enter guardian's name: sandhya
Enter mobile number (7 digits): 1234567
Enter guardian's name: chiru
Enter mobile number (7 digits): 0987654
Enter guardian's name: gagan
Enter mobile number (7 digits): 56784398
Invalid mobile number format. Please enter 7 digits.
Enter mobile number (7 digits): done
Invalid mobile number format. Please enter 7 digits.
Enter mobile number (7 digits): 1234568
Enter guardian's name: done
Guardian details:
1. sandhya: 1234567
2. chiru: 0987654
3. gagan: 1234568